.body {
    /* background: url(background.png); */
}

.content {
    /* background-color: gray; */

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.progressbar {
    position: relative;
    display: inline-block;

    padding: 0.1vw;


    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    height: 20vh;


    border: 0.5vh solid black;
    border-radius: 1vw;
}

.progress {
    display: block;
    position: absolute;
    z-index: 1;
    height: 20vh;
    width: 50%;

    border-radius: 0.8vw;


    background-color: rgb(45, 86, 153);
}

.timer {
    /* background-color: white; */
    border-radius: 1vh;
}

.timer-wrapper {
    display: inline-block;
    position: relative;
    z-index: 2;

    height: 20vh;
    line-height: 20vh;

    /* color: white; */
    font-size: 20vh;
    font-family: 'VT323', monospace;
    /* border: 1px solid red; */
}