.content {

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.tomato {
    position: relative;

    background-image: url("dummytomato.jpg");
    background-size: 100%;
    cursor: pointer;

    display: inline-block;
    background-color: red;
    width: 30vw;
    height: 30vw;

    border: 1px solid red;
}

#progress-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    /* background-color: rgba(0, 255, 0, 0.1); */
    width: 100%;
    height: 100%;
}

.timer-wrapper {
    line-height: 30vw;
}

.timer {
    display: inline-block;
    line-height: 1em;
    color:black;
    /* text-shadow: #969696 1px 3px 0, #aba8a8 1px 13px 5px; */
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 0.3em;
    padding: 0.1em;

    font-family: "Roboto Mono", monospace;
    font-size: 8vh;
}