.content {
    background-color: gray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.progressbar {
    position: relative;
    display: inline-block;


    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    height: 20vh;


    border: 0.5vh solid black;
    border-radius: 1vw;
}

.progress {
    display: block;
    position: absolute;
    z-index: 0;
    height: 20vh;
    width: 50%;

    border-radius: 0.5vw;

    background-color: red;
}

.timer {
    background-color: white;
    border-radius: 1vh;
}

.timer-wrapper {
    display: inline-block;
    position: relative;
    z-index: 2;

    font-size: 15vh;
    font-family: monospace;
    margin-top: 2vh;
    margin-bottom: 2vh;
    /* border: 1px solid red; */
}